@font-face {
  font-family: "Futura";
  src: url("/Fonts/FuturaCyrillicBold.ttf");
}

@font-face {
  font-family: "Monserrat";
  src: url("/Fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "MonserratLight";
  src: url("/Fonts/Montserrat-Black.ttf");
}


@font-face {
  font-family: "FuturaLight";
  src: url("/Fonts/FuturaCyrillicDemi.ttf");
}

@font-face {
  font-family: "Futuraextralight";
  src: url("/Fonts/FuturaCyrillicLight.ttf");
}

@font-face {
    font-family: "MonserratMedium";
    src: url("/Fonts/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "MonserratBold";
    src: url("/Fonts/Montserrat-Bold.ttf");
}

.futura-bold {
  font-family: Futura;
}

.futura-light {
  font-family: FuturaLight;
}

.futura-extralight {
  font-size: Futuraextralight;
}

.monserrat-semibold {
  font-family: Monserrat;
}

.monserrat-medium {
  font-family: MonserratMedium;
}

.monserrat-light {
  font-family: MonserratLight;
}

.monserrat-bold {
  font-family: MonserratBold;
}


.project-page {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-color: aqua;
}