@import "tailwindcss";

@font-face {
  font-family: "FuturaBold";
  src: url("/fonts/FuturaCyrillicBold.ttf");
}

@font-face {
  font-family: "FuturaLight";
  src: url("/fonts/FuturaCyrillicDemi.ttf");
}


@font-face {
  font-family: "MonserratMedium";
  src: url("/fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "MonserratSemiBold";
  src: url("/fonts/Montserrat-SemiBold.ttf");
}

.mainpage {
  background: radial-gradient(circle at top right, 
  #3F3862 20%,
  #7d6fc4 100%  
  ); 
  background-repeat: no-repeat;
  background-size: cover;

  box-shadow: 0 0 80px rgba(255, 255, 255, 0.9);
}

@media screen and (min-width: 1921px) {
  .mainpage {
    border-radius: 2rem;
  }

  .intro-logo {
    top: '10vh';
  }

  
}


