@font-face {
  font-family: "Futura";
  src: url("/Fonts/FuturaCyrillicBold.ttf");
}

@font-face {
  font-family: "Monserrat";
  src: url("/Fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "FuturaLight";
  src: url("/Fonts/FuturaCyrillicDemi.ttf");
}

.futura-bold {
  font-family: Futura;
}

.futura-light {
  font-family: FuturaLight;
}

.monserrat-semibold {
  font-family: Monserrat;
}



