@font-face {
  font-family: "Futura";
  src: url("/Fonts/FuturaCyrillicBold.ttf");
}

@font-face {
  font-family: "Monserrat";
  src: url("/Fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "MonserratLight";
  src: url("/Fonts/Montserrat-Black.ttf");
}


@font-face {
  font-family: "FuturaLight";
  src: url("/Fonts/FuturaCyrillicDemi.ttf");
}

@font-face {
  font-family: "Futuraextralight";
  src: url("/Fonts/FuturaCyrillicLight.ttf");
}

@font-face {
    font-family: "MonserratMedium";
    src: url("/Fonts/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "MonserratBold";
    src: url("/Fonts/Montserrat-Bold.ttf");
}

/* scrollbar style */
::-webkit-scrollbar {
  display: none;
}

.page-wrapper {
  background: radial-gradient(circle at top right, 
  #3F3862 20%,
  #7d6fc4 100%  
  ); 
}

.svg-wrapper {
  filter: blur(0.6px);
  transition: left 0.2s ease, top 0.2s ease;
}

.svg-wrapper--appear {
  opacity: 1;
  transition: opacity 1s ease;
}

.svg-wrapper--disappear {
  opacity: 0;
  transition: opacity 1s ease;
}

.scroll-text {
  font-family: 'MonserratSemiBold', sans-serif;
  color: white;  
  font-size: 16px;
  letter-spacing: 1px;
}


@keyframes scroll {
	0% {
		transform: translateY(0);
	}
	30% {
		transform: translateY(60px);
	}
}

svg #wheel {
	animation: scroll ease 2s infinite;
}




